@font-face {
  font-family: "iconfont"; /* Project id 3591140 */
  src: url('@/static/iconfont.woff2?t=1660618600345') format('woff2'),
       url('@/static/iconfont.woff?t=1660618600345') format('woff'),
       url('@/static/iconfont.ttf?t=1660618600345') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gouwuchekong:before {
  content: "\e600";
}

.icon-xiajiantou:before {
  content: "\e611";
}

.icon-shangjiantou:before {
  content: "\e601";
}

.icon-xiaoxi:before {
  content: "\e711";
}

.icon-lajitong:before {
  content: "\e615";
}

.icon-fangdajing:before {
  content: "\e662";
}

